body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(img/space-background.jpg);
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: rgb(248, 231, 255);
    text-shadow: 2px 2px #333;
}

.grid-container {
    /* There are lots of different ways to do this! This is just 1 way: */
    display: grid;
    grid-template-columns: auto auto; /* Defines a 2-column grid */
    grid-gap: 20px; /* Space between grid items */
    padding: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.grid-item h2 {
    color: #9d4ad1;
    margin-top: 0;
}

.grid-item p {
    font-size: 16px;
    line-height: 1.6;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}